extends layout

block content
	h1(class='pageTitle text-center')=title
	div
		div(class="container")
			form(class='form-horizontal', action="/login", method="post")
				legend Login Here!
				div(class="control-group")
					label(class="control-label") Enter your username!
					div(class="controls")
						input(type="text", name="name", placeholder="username")
				div(class="control-group")
					label(class="control-label") Enter your password!
					div(class="controls")
						input(type="password", name="password", placeholder="password")
				div(class="control-group")
					div(class="controls")
						input(type="submit", name="submit", class="btn btn-primary", value='Sign In')
		div(class="container")
			form(class='form-horizontal', action="/login", method="post")
				legend No Account? Sign Up!
				div(class="control-group")
					label(class="control-label") Enter a username!
					div(class="controls")
						input(type="text", name="name", placeholder="username")
				div(class="control-group")
					label(class="control-label") Enter a password!
					div(class="controls")
						input(type="password", name="password", placeholder="password")
				div(class="control-group")
					div(class="controls")
						input(type="submit", name="submit", class="btn btn-primary", value="Sign Up")
block js